<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TextUtils</title>
</head>

<body>
    <h1 style='text-align: center;'>TextUtils : Efficient Tool For Text Formatting</h1>
    <form action='/analyze' method='get'>
        <textarea name='text' placeholder='Enter your text to analyze'
            style='width: 90%; height: 50vh; display: block; margin: auto;'></textarea>
        <input type="checkbox" name="removepunc">Remove Puncuation <br>
        <input type="checkbox" name="fullycaps">CAPITALIZE <br>
        <input type="checkbox" name="lineremover">Line Remover <br>
        <input type="checkbox" name="charcounter">Character Counter <br>
        <input type="checkbox" name="wordcounter">Word Counter <br>
        <button style='display:block; margin:auto; margin-top: 30px; padding: 10px 20px; color: black;'
            type='submit'>Analyze Text</button>
    </form>
</body>

</html>